section.contact-form {
  --vertical-spacing: 10rem;

  padding: 8rem 0;
  background-color: var(--light-color);

  @include breakpoint($breakpoint-sm) {
    --vertical-spacing: 6rem;
  }

  .logo {
    max-width: 40rem;
    margin-bottom: 6rem;
  }

  .title {
    margin-bottom: 5rem;
    max-width: 70rem;
  }

  .description {
    max-width: 70rem;
  }
}

#contact-form {
  --control-max-width: 65rem;

  position: relative;
  margin: var(--vertical-spacing) 0;

  @include breakpoint($breakpoint-sm) {
    --control-max-width: none;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > div {
    width: 100%;
    max-width: var(--control-max-width);
    position: relative;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: min(675px, 70%);
    padding-top: 85.78%;
    top: 50%;
    right: min(20%, 65rem);
    transform: translateY(-50%);
    z-index: 0;
    background-image: url('../assets/images/contact-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  select,
  input {
    height: 7.5rem;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    border-radius: 10px;
    padding: 2rem 2.5rem;
    margin-bottom: 1.5rem;
    background: var(--white-color);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: block;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }

  .select-wrapper {
    position: relative;
    max-width: var(--control-max-width);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translateY(-50%);
      background-image: url('../assets/images/icon-chevrondown.png');
      background-size: contain;
      @include square(3rem);
    }
  }

  select {
    appearance: none; /* Disable default arrow on some browsers */
  }

  input {
    &[type='submit'] {
      margin-top: 5.6rem;
      color: var(--white-color);
      background: var(--primary-color);
      transition: background-color 0.2s;
      &:hover {
        background-color: var(--dark-color);
      }
    }

    &::placeholder {
      color: var(--black-color);
    }

    &:focus::placeholder {
      color: var(--white-color);
    }
  }
}
