.keys-of-features {
  background-color: var(--secondary-color);
  padding: 8.6rem 0;

  .feature-keys {
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;
    font-weight: 500;
    font-size: 3rem;

    .item {
      color: var(--white-color);
      background-color: rgba(19, 28, 49, 0.77);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4.6rem 0;

      width: 100%;
      max-width: 300px;
      border-radius: 10px;

      img {
        @include square(75px);
        margin-bottom: 8px;
      }
    }

    @include breakpoint($breakpoint-lg) {
      font-size: 2rem;

      .item {
        img {
          @include square(60px);
        }
      }
    }

    @include breakpoint($breakpoint-sm) {
      flex-wrap: wrap;
      gap: 24px;

      .item {
        max-width: none;
        width: calc(50% - 12px);
      }
    }
  }
}
