section.feedback-slider {
  --swiper-navigation-color: #{$white-color};
  --swiper-navigation-size: 27px;
  --swiper-pagination-bullet-horizontal-gap: 1px;
  --swiper-pagination-bullet-width: 13px;
  --swiper-pagination-bullet-height: 13px;
  --swiper-pagination-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-opacity: 0.75;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-navigation-sides-offset: 2rem;

  padding: 21rem 0 16rem;
  background-image: url('../assets/images/feedback-bg.png');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 100%;
    max-width: 108rem;
  }

  .swiper-wrapper {
    max-width: 87rem;
    padding-bottom: 2rem;
    margin: 0 auto;
  }

  .content {
    color: var(--white-color);
    max-width: 869px;

    @include breakpoint($breakpoint-sm) {
      padding: 0 4rem;
    }

    .stars {
      margin-bottom: 2rem;

      .star {
        display: inline-block;
        @include square(20px);
        background: url('../assets/images/star.png') no-repeat;
        background-size: contain;
        margin-right: 8px;
      }
    }

    h3,
    p {
      margin-bottom: 2rem;
    }
  }

  .preload-backgrounds {
    $preload-size: 50px;
    position: fixed;
    @include square(#{$preload-size});
    top: #{$preload-size * -2};
    left: #{$preload-size * -2};

    div {
      width: #{$preload-size};
      height: #{$preload-size};
    }
  }
}
