section.machine-photo {
  padding: 5.4rem 0 13.6rem;

  img {
    width: 100%;
  }
}

.retail {
  section.machine-photo {
    padding: 14rem 0 8rem;
    background-image: linear-gradient(
      to bottom,
      rgba(var(--blue-rgb), 0.67),
      var(--blue-color)
    );
  }
}

section.background-section {
  img {
    width: 100%;
  }
}

section.view-catalogue {
  text-align: center;
  padding: 12.8rem 0;
  color: var(--white-color);
  background-image: url('../assets/images/packaging-supplies.png');

  .cta {
    padding: 3rem 10rem;
    margin-top: 6rem;
  }
}

section.choosing-packaging {
  padding: 5rem 0 9rem;

  background-image: url('../assets/images/about-choose-packaging-bg.png');
  background-size: min(100%, 1027px) auto;
  background-position: right max(-100px, -20vw) top max(-20%, -10vw);
  background-repeat: no-repeat;

  .row {
    display: flex;
    justify-content: space-around;
  }

  .row-1 {
    gap: 4rem;
    margin-bottom: 8rem;
  }

  .row-2 {
    gap: 2.6rem;

    .thumb {
      max-width: 41rem;
    }
  }

  .col-1 {
    max-width: 56rem;
    p {
      font-weight: 500;
      margin-bottom: 3rem;

      b {
        font-weight: 700;
      }
    }
  }

  .col-2 {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    gap: 7.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint($breakpoint-sm) {
    .row {
      flex-direction: column;

      .col-1 {
        max-width: none;
      }

      .col-2 {
        width: 100%;
      }

      &.row-2 {
        align-items: center;
      }
    }
  }

  .celebrate {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--blue-color);
    max-width: 44rem;
  }
}
