section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-1.png", alt="Crates")
            h3 Crates
            p These specialized crates are designed with precision, offering a tailored and secure solution for transporting your items. Each crate utilizes sustainably sourced recycled wood and each crate comes certified for international shipping. 
        .col 
          .content
            ul 
              li Crafted from sustainably sourced recycled wood
              li Sturdy construction with 3/4 inch thick wood
              li Heavy-duty protection for valuable items
              li Specifically designed for international shipping
              li ISMP 15 stamp certified
              li Eco-friendly wooden crates tailored to meet shipping demands
            .actions
                button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Our pallets are constructed using sustainably sourced recycled soft-wood
              li 4600 lb weight capacity 
              li ideal for various industries, providing a reliable solution for transporting goods in warehouses, distribution centers, and during international shipping.
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-2.png", alt="Pallets")
            h3 Pallets
            p Our specialized pallets provide a tailored and secure solution for transporting your items. Each pallet is designed for optimal functionality, ensuring the safe and efficient movement of goods. 

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-3.png", alt="Industrial boxes")
            h3 Industrial Boxes
            p Designed specifically for industrial use, these high-quality boxes provide robust protection and durability for your items in transit. We go beyond standard packaging, crafting each box to withstand industrial shipping, minimizing the risk of damage or mishandling.
        .col 
          .content
            ul 
              li Industrial corrugated boxes in various sizes.
              li Various box strengths available. 
              li ECT44 and ECT48 rated.
              li For securely storing inventory items or safely shipping merchandise.
            .actions
              button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Custom-made to your product. 
              li Made from high-density foam, providing a reliable cushion against the rigors of transportation.
              li Ideal for packaging highly fragile objects. 
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-4.png", alt="Custom foam inserts")
            h3 Custom Foam Inserts
            p Each insert is designed with precision, ensuring a snug fit that minimizes movement and absorbs shocks, offering unparalleled protection for your valuable items. 
