section.table-section#shelf-bin-blinders
  .container 
    h2.title Shelf Bin Binders

    .table-wrapper
      table
        thead 
          tr
            th Size 
            th Material 
            th Styles
        tbody 
          tr
            td 12” X 2” X 4-1/2”(2”Bin Box)
            td 175# B Oyster
            td Die Cut Bin
          tr 
            td 12” X 2” X 4-1/2”(4”Bin Box)
            td 175# B Oyster
            td Die Cut Bin
          tr 
            td 12” X 2” X 4-1/2”(6”Bin Box)
            td 175# B Oyster
            td Die Cut Bin
          tr 
            td 12” X 2” X 4-1/2”(9”Bin Box)
            td 175# B Oyster
            td Die Cut Bin
          tr 
            td File Box (15” X 12”X 10”)
            td 175# B Kraft
            td Die Cut