section.table-section#stock-box-list 
  .container 
    h2.title Stock Box List

    .table-wrapper
      table
        thead 
          tr
            th Size 
            th Material 
            th Styles
        tbody 
          tr
            td 4" X 4" X 4"
            td 125# C Kraft 
            td RSC-Glued
          tr 
            td 6" X 6" X 6"
            td 175# C Kraft 
            td RSC-Glued
          tr 
            td 8" X 8" X 6"
            td 175# C Kraft 
            td RSC-Glued
          tr 
            td 10" X 10" X 10"
            td 175# B Kraft 
            td RSC-Glued
          tr 
            td 12" X 8" X 6"
            td 175# B Kraft 
            td RSC-Glued
          tr 
            td 12" X 12" X 12"
            td 175# B Kraft 
            td RSC-Glued
          tr 
            td 14" X 14" X 14"
            td 175# B Kraft 
            td RSC-Glued
          tr 
            td 15" X 10" X 5"
            td 175# C Kraft
            td RSC-Glued
          tr 
            td 16" X 16" X 16"
            td 200# C Kraft 
            td RSC-Glued
          tr 
            td 18" X 12" X 9"
            td 175# B Kraft
            td RSC-Glued
          tr
            td 18 1/8" X 15 1/8" X 12 1/2"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 18" X 18" X 18"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 20" X 20" X 20"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 24" X 12" X 12"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 24" X 18" X 18"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 25" X 25" X 25"
            td 200# C Kraft
            td RSC-Glued
          tr 
            td 37" X 4" X 27"
            td Small Mirror
            td
          tr 
            td 42" X 4" X 34"
            td Large Mirror
            td
          tr  
            td 12-1/2" X 12-1/2" X 3-1/2"
            td Binder Box
            td
          tr 
            td 18" X 18" X 28"
            td China Barrel
            td
          tr 
            td 24" X 21" X 47-3/16"
            td Wardrobe Box with Bar
            td
          
          