section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-1.png", alt="Poly carton tape")

            h3.text-center Packing Tape
        .col 
          .content
            ul 
              li Poly carton tape -  Kraft or white available in various widths and lengths
              li General Purpose Masking Tape
              li Filament Tape (55m length) - Available in all widths and tensiles
              li Gummed Paper Tape - Kraft or white available in various widths and lengths
              li Reinforced paper tape - Kraft or white available in various widths and lengths
              li Tape dispensers · Poly · Masking · Filament
              li Gummed Tape Machines - Manual or Electric

      .row
        .col 
          .content
            ul 
              li Bubble Wrap - Anti-static wrap also available· Various slitting and perfing options available
              li Bubble Mailers - various sizes 
              li Bubble Envelopes 
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-2.png", alt="Bubble Wrap")
            h3.text-center Bubble Wrap & Envelopes

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-3.png", alt="Corrugated")
            h3.text-center Packing Boxes
        .col 
          .content
            ul 
              li Corrugated – see Stock Box list below for various sizes · Stock cartons · Custom sizes with printing available upon request · Bin boxes · Bin dividers · Single face available in widths from 2” to 72”

      .row
        .col 
          .content
            ul 
              li Pallet wrap · Various Standard Widths and Gauges · Clear & Coloured Films · Dispensers Available
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-4.png", alt="Pallet wrap")
            h3.text-center Pallet Wrap

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-5.png", alt="Kraft paper rolls")
            h3.text-center Newsprint & Kraft Paper
        .col 
          .content
            ul 
              li Newsprint - bundle · 50 lbs/bundle · 24” x 36” sheets
              li Newsprint - rolls · 1,500' per roll · 12” - 48” widths
              li Kraft paper rolls - available in various widths 
