section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-1.png", alt="Poly carton tape")
        .col 
          .content
            ul 
              li Poly carton tape – Available in various widths and lengths · 48mm x 100m 48 rls/cs - Clear · 48mm x 100m 48 rls/cs - Tan
              li General Purpose Masking Tape · 9mm x 55m 96 rls/cs · 12mm x 55m 72 rls/cs · 18mm x 55m 48 rls/cs · 24mm x 55m 24 rls/cs · 36mm x 55m 24 rls/cs · 48mm x 55m 24 rls/cs · 72mm x 55m 12 rls/cs · 96mm x 55m 12 rls/cs
              li Filament Tape (55m length) – Available in all widths and tensiles
              li Gummed Paper Tape – Kraft or white available in various widths and lengths
              li Reinforced paper tape – Kraft or white available in various widths and lengths
              li Tape dispensers · Poly · Masking · Filament
              li Gummed Tape Machines – Manual or Electric

      .row
        .col 
          .content
            ul 
              li Bubble Wrap - Anti-static wrap also available· 3/16" x 48" x 750'· 1/2" x 48" x 250'· Various slitting and perfing options available
              li Bubble Mailers – various sizes 
              li Bubble Envelopes 
                br 
                | #000 4x8 250/CS 
                br 
                | #00 5x10 250/CS 
                br 
                | #0 6x10 200/CS 
                br 
                | #1 7-1/4x12 100/CS 
                br 
                | #2 8-1/2x12 100/CS 
                br 
                | #3 8-1/2x14-1/2 100/CS 
                br 
                | #4 9-1/2x14-1/2 100/CS 
                br 
                | #5 10-1/2x16 80/CS 
                br 
                | #6 12-1/2x19 50/CS 
                br 
                | #7 14-1/4x20 50/cs
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-2.png", alt="Bubble Wrap")

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-3.png", alt="Corrugated")
        .col 
          .content
            ul 
              li Corrugated – see Stock Box list below for various sizes · Stock cartons · Custom sizes with printing available upon request · Bin boxes · Bin dividers · Single face available in widths from 2” to 72”

      .row
        .col 
          .content
            ul 
              li Pallet wrap · Various Standard Widths and Gauges · Clear & Coloured Films · Dispensers Available
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-4.png", alt="Pallet wrap")

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/supplies-5.png", alt="Kraft paper rolls")
        .col 
          .content
            ul 
              li Newsprint – bundle · 50 lbs/bundle · 24” x 36” sheets
              li Newsprint – rolls · 1,500’ per roll · 12” – 48” widths
              li Kraft paper rolls – available in various widths · DD30 x 1500' · DD40 x 1125' · DD50 x 900' · DD60 x 750' · DD80 x 550' · DD120 x 375'
