<!-- Slider main container -->
section.feedback-slider
  .container
    .swiper
      .swiper-wrapper
        .swiper-slide 
          .content
            .stars 
              span.star
              span.star
              span.star
              span.star
              span.star
            h3 Packaging Too is vital to my business
            p “Chris, Laura and the entire team at Packaging Too are exceptional to work with. I highly recommend if you are looking for strong pricing, attention to detail, and a team that will work with you to hit your target timelines and help you ensure you receive the best product and care for your order. They are vital to my business and always make my job much easier, but effectively and efficiently handling my packaging needs, and I always enjoy working with them and leave smiling.”
            p Caitlin S
          
        .swiper-slide 
          .content
            .stars 
              span.star
              span.star
              span.star
              span.star
              span.star
            h3 Packaging Too is vital to my business
            p “Chris, Laura and the entire team at Packaging Too are exceptional to work with. I highly recommend if you are looking for strong pricing, attention to detail, and a team that will work with you to hit your target timelines and help you ensure you receive the best product and care for your order. They are vital to my business and always make my job much easier, but effectively and efficiently handling my packaging needs, and I always enjoy working with them and leave smiling.”
            p Caitlin S

        .swiper-slide 
          .content
            .stars 
              span.star
              span.star
              span.star
              span.star
              span.star
            h3 Packaging Too is vital to my business
            p “Chris, Laura and the entire team at Packaging Too are exceptional to work with. I highly recommend if you are looking for strong pricing, attention to detail, and a team that will work with you to hit your target timelines and help you ensure you receive the best product and care for your order. They are vital to my business and always make my job much easier, but effectively and efficiently handling my packaging needs, and I always enjoy working with them and leave smiling.”
            p Caitlin S

      .swiper-pagination

    .swiper-button-prev
    .swiper-button-next
