section.hero-banner#hero-home 
  .container 
    h1 Custom Packaging Solutions Tailored for Your Business Needs

    p.description We craft 
      strong made-to-order packaging solutions 
      | to ensure the safety of your valuable products during transit. 
      strong For over 30 years, we have been the trusted partner of leading manufacturers in Southern Ontario.

    button.cta Discover Custom Packing Solutions