section.packaging-services.three-columns
  .container 
    ul.services-list#services-list 
      li.service-item 
        .thumb 
          img(src="./assets/images/packaging-service-1.png", alt="Industrial packaging")
        h3.title Industrial Packaging
        p.description We blend our expertise with corrugated cardboard & foam materials  to craft secure solutions for all your shipping needs.
        a.cta(href="./commercial.html") Learn more
      
      li.service-item 
        .thumb 
          img(src="./assets/images/packaging-service-2.png", alt="Retail packaging")
        h3.title Retail Packaging
        p.description Whether it's a stylish marketing display or a product showcase, we have the expertise to fulfill your retail requirements.
        a.cta(href="./retail.html") Learn more

      li.service-item 
        .thumb 
          img(src="./assets/images/packaging-service-3.png", alt="Packaging supplies")
        h3.title Supplies Packaging
        p.description We offer an extensive inventory of packing materials and shipping supplies available in-store.
        a.cta(href="./supplies.html") Learn more