section.services-points.three-columns
  .container 
    ul.services-list
      li.service-item 
        .icon 
          img(src="./assets/images/service-point-1.png", alt="Quick turnaround")
        h3.title Quick Turnaround
        p.description From concept to completion, we're quick!  If it's urgent, we can deliver within just a few days.
      
      li.service-item 
        .icon 
          img(src="./assets/images/service-point-2.png", alt="No minimums")
        h3.title No Minimums
        p.description Whether you're placing large  bulk orders or have a small-batch request, we're here to assist you.

      li.service-item 
        .icon 
          img(src="./assets/images/service-point-3.png", alt="Personalized service")
        h3.title Personalized Service
        p.description Our design team works with you to create packaging that is unique to your specific needs.