section.services-glance
  .container 
    h2.title Our Services at a Glance

    ul.services-list 
      li.service-item 
        .inner
          p Auto CAD Design
      li.service-item 
        .inner
          p CNC Cutting
      li.service-item 
        .inner
          p Corrugated Cardboard Specialists
      li.service-item 
        .inner
          p Custom Foam Inserts
      li.service-item 
        .inner
          p Plain and Full Colour Printing
      li.service-item 
        .inner
          p Promotional Packaging and Displays
      li.service-item 
        .inner
          p Production & Assembly
      li.service-item 
        .inner
          p Shipping