section.videos
  .container 
    h2.title Our Packaging Design Videos

    ul.videos 
      li.vid 
        iframe(src="https://www.youtube.com/embed/qt07mC47Esg?si=rHYZ0ilQASk6xOp2")
      li.vid 
        iframe(src="https://www.youtube.com/embed/PgkHo_d4GZE?si=sIw4897q7cbzt6dF")
      li.vid 
        iframe(src="https://www.youtube.com/embed/KAlZjdok8Xc?si=g9J5sgrjJ7RAtgca")

