:root {
  --primary-color: #ee3a43;
  --secondary-color: #28335b;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-color: #f8f8f8;
  --dark-color: #1c2442;
  --header-top: 4rem;
  --header-height: 10rem;
  --header-nav-bottom: 40px;
}

@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Jarkata";
  line-height: 1.3;
  font-size: 2rem;
  color: var(--black-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.1;
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.1;
}
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 3.4rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 3rem;
}
@media only screen and (max-width: 576px) {
  h3 {
    font-size: 2.8rem;
  }
}

strong {
  font-weight: 700;
}

button {
  border: none;
  color: var(--white-color);
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

.cta {
  border: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 800;
  font-size: 2rem;
  padding: 30px 22px;
  border-radius: 1rem;
  width: fit-content;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

section.hero-banner {
  --base-spacing: 2;
  padding: 0;
  background-size: cover;
  background-position: center;
  padding: calc(var(--base-spacing) * 8rem) 0;
  color: var(--white-color);
  height: 80vh;
}
section.hero-banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section.hero-banner h1 {
  margin-bottom: calc(var(--base-spacing) * 3rem);
}
section.hero-banner .description {
  margin-bottom: calc(var(--base-spacing) * 4rem);
}
@media only screen and (max-height: 992px) {
  section.hero-banner {
    --base-spacing: 1;
  }
}
@media only screen and (max-width: 992px) {
  section.hero-banner {
    --base-spacing: 1;
  }
}

#hero-home {
  background-image: url("../assets/images/hero-home.png");
}
#hero-home h1 {
  max-width: 820px;
}
#hero-home .description {
  max-width: 75rem;
}

#hero-commercial {
  background-image: url("../assets/images/hero-commercial.png");
}
#hero-commercial h1 {
  max-width: 900px;
}
#hero-commercial .description {
  max-width: 96rem;
}

#hero-retail {
  background-image: url("../assets/images/hero-retail.png");
}
#hero-retail h1 {
  max-width: 900px;
}
#hero-retail .description {
  max-width: 82rem;
}

section.three-columns {
  padding: 5.4rem 0;
}
section.three-columns .services-list {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
@media only screen and (max-width: 768px) {
  section.three-columns .services-list {
    flex-direction: column;
    align-items: center;
  }
}
section.three-columns .service-item {
  width: 30%;
  max-width: 360px;
}
@media only screen and (max-width: 768px) {
  section.three-columns .service-item {
    width: 100%;
  }
}
section.three-columns .service-item .thumb {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.8rem;
}
section.three-columns .service-item .thumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
section.three-columns .service-item .icon {
  width: 105px;
  height: 105px;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 768px) {
  section.three-columns .service-item .icon {
    margin-bottom: 3rem;
  }
}
section.three-columns .service-item .title {
  margin-bottom: 2.8rem;
}
section.three-columns .service-item .description {
  margin-bottom: 3rem;
}
section.three-columns .service-item .cta {
  padding: 13px 38px;
}

section.services-points {
  padding: 12rem 0;
}

section.services-glance {
  padding: 18rem 0;
  color: var(--white-color);
  background-color: var(--secondary-color);
  text-align: center;
}
@media only screen and (max-width: 992px) {
  section.services-glance {
    padding: 12rem 0;
  }
}
section.services-glance .title {
  margin-bottom: 10rem;
}
section.services-glance .services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}
section.services-glance .services-list .service-item {
  width: 25%;
  height: 200px;
  margin-bottom: 30px;
  padding: 0 10px;
}
section.services-glance .services-list .service-item .inner {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  line-height: 1.7;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
section.services-glance .services-list .service-item .inner:hover {
  background-color: var(--secondary-color);
}
@media only screen and (max-width: 992px) {
  section.services-glance .services-list .service-item {
    width: 33.333%;
  }
}
@media only screen and (max-width: 768px) {
  section.services-glance .services-list .service-item {
    width: 50%;
  }
}

.keys-of-features {
  background-color: var(--secondary-color);
  padding: 8.6rem 0;
}
.keys-of-features .feature-keys {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  font-weight: 500;
  font-size: 3rem;
}
.keys-of-features .feature-keys .item {
  color: var(--white-color);
  background-color: rgba(19, 28, 49, 0.77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.6rem 0;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}
.keys-of-features .feature-keys .item img {
  width: 75px;
  height: 75px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1200px) {
  .keys-of-features .feature-keys {
    font-size: 2rem;
  }
  .keys-of-features .feature-keys .item img {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .keys-of-features .feature-keys {
    flex-wrap: wrap;
    gap: 24px;
  }
  .keys-of-features .feature-keys .item {
    max-width: none;
    width: calc(50% - 12px);
  }
}

section.two-side-content .container {
  padding: 0;
  max-width: calc(1920px - 16rem);
}
section.two-side-content .content-wrapper .row {
  display: flex;
}
section.two-side-content .content-wrapper .row .col {
  width: 50%;
}
section.two-side-content .content-wrapper .row:nth-child(odd) .col:nth-child(even) {
  background-color: var(--light-color);
}
section.two-side-content .content-wrapper .row:nth-child(even) .col:nth-child(odd) {
  background-color: var(--light-color);
}
@media only screen and (max-width: 768px) {
  section.two-side-content .content-wrapper .row .col {
    width: 100%;
  }
  section.two-side-content .content-wrapper .row:nth-child(odd) {
    flex-direction: column;
  }
  section.two-side-content .content-wrapper .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
section.two-side-content .content-wrapper .row .content {
  --max-width: 540px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 4rem;
}
section.two-side-content .content-wrapper .row .content h3,
section.two-side-content .content-wrapper .row .content ul,
section.two-side-content .content-wrapper .row .content p {
  width: 100%;
  max-width: var(--max-width);
  line-height: 1.7;
}
section.two-side-content .content-wrapper .row .content .actions {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 7rem;
}
section.two-side-content .content-wrapper .row .content h3 {
  font-weight: 800;
  font-size: 4.6rem;
  margin-bottom: 4rem;
  line-height: 1.2;
}
section.two-side-content .content-wrapper .row .content ul {
  list-style-type: initial;
}
section.two-side-content .content-wrapper .row .content .action-btn {
  display: block;
  align-self: flex-start;
  color: var(--white-color);
  background-color: var(--dark-color);
  font-size: 2rem;
  padding: 3rem 2.5rem;
  border-radius: 10px;
  font-weight: 800;
}

section.machine-photo {
  padding: 5.4rem 0 13.6rem;
}
section.machine-photo img {
  width: 100%;
}

section.background-section img {
  width: 100%;
}

section.view-catalogue {
  text-align: center;
  padding: 12.8rem 0;
  color: var(--white-color);
  background-image: url("../assets/images/packaging-supplies.png");
}
section.view-catalogue .cta {
  padding: 3rem 10rem;
  margin-top: 6rem;
}

footer {
  padding: 6rem 0;
  color: white;
  background-color: var(--secondary-color);
}
footer a {
  color: white;
}
footer .logo {
  display: block;
  width: 70%;
  max-width: 347px;
}
footer .logo img {
  width: 100%;
}
footer .footer-content {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0 8rem;
  gap: 8rem;
}
footer .footer-navs {
  flex-shrink: 0;
  display: flex;
  gap: 8rem;
}
footer .footer-navs .nav-item {
  font-weight: 500;
  line-height: 2;
}
footer .signup-form {
  position: relative;
  width: 50%;
  max-width: 500px;
}
footer .signup-form input {
  height: 6rem;
  line-height: 6rem;
  width: 100%;
  margin-right: -20px;
  padding: 0 4rem;
  border: none;
  background-color: #44579c;
  color: var(--white-color);
  font-size: 2rem;
  border-radius: 10px;
}
footer .signup-form input:focus {
  outline: none;
}
footer .signup-form input::placeholder {
  color: var(--white-color);
}
footer .signup-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 6rem;
  line-height: 6rem;
  border: none;
  color: var(--secondary-color);
  background-color: #d9d9d9;
  padding: 0 3.2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}
footer .copyright {
  text-align: center;
}
@media only screen and (max-width: 992px) {
  footer .footer-content {
    flex-direction: column;
    gap: 4rem;
  }
  footer .signup-form {
    position: relative;
    width: 100%;
  }
}