footer
  .container
    a.logo(href="/")
      img(src="./assets/images/logo.png", alt="")

    .footer-content 
      .footer-navs
        ul.nav-column 
          li.nav-item   
            a(href="./", title="Home") Home
          li.nav-item   
            a(href="./#contact-us", title="Contact us") Contact us

        ul.nav-column 
          li.nav-item   
            a(href="./#qna-section", title="FAQ") FAQ
          li.nav-item   
            a(href="./#contact-us", title="Ordering") Ordering
      
      form.signup-form(method="POST", action="./")
        input(type="email", placeholder="Enter email", name="email")
        button(type="submit") Sign up

    p.copyright © Packaging Too Inc, 2023