footer
  .container
    a.logo(href="/")
      img(src="./assets/images/logo.png", alt="")

    .footer-content 
      .footer-navs
        ul.nav-column 
          li.nav-item   
            a(href="#", title="About us") About us
          li.nav-item   
            a(href="#", title="Home") Home
          li.nav-item   
            a(href="#", title="Contact us") Contact us
          li.nav-item   
            a(href="#", title="Carrers") Carrers

        ul.nav-column 
          li.nav-item   
            a(href="#", title="Resources") Resources
          li.nav-item   
            a(href="#", title="FAQ") FAQ
          li.nav-item   
            a(href="#", title="Ordering") Ordering
          li.nav-item   
            a(href="#", title="Inventory list") Inventory List
      
      form.signup-form
        input(type="email", placeholder="Enter email", name="email")
        button(type="submit") Sign up

    p.copyright © Packaging Too Inc, 2023