section.choosing-packaging 
  .container 
    .row.row-1 
      .col-1
        p.description Whether enhancing your business operations, shipping a groundbreaking medical marvel, or showcasing a retail masterpiece, trust Packaging Too as your dedicated B2B packing partner.
        p.description Elevate your business with us. Let's collaboratively create, protect, and deliver exceptional results.
      .col-2 
        button.cta Discover Custom Packing Solutions

    .row.row-2 
      .thumb 
        img(src="./assets/images/choose-packaging-1.png", alt="")
      .thumb 
        img(src="./assets/images/choose-packaging-2.png", alt="")
      .thumb 
        img(src="./assets/images/choose-packaging-3.png", alt="")
