section.hero-banner#hero-about-us 
  .container 
    h1 Crafted with passion, delivered with pride.

    p.description Serving Southern Ontario with bespoke packaging solutions for 30 years. Through decades of dedication, we've transformed unique visions into tangible realities. Every package we craft carries a legacy of quality, innovation, and unrivaled customer care.
    button.cta Choose Local Packaging 