section.services-glance
  .container 
    h2.title We cater to a range of industries

    ul.services-list 
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-1.png)")
        .inner
          p Technology
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-2.png)")
        .inner
          p Manufacturing
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-3.png)")
        .inner
          p Online Retail
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-4.png)")
        .inner
          p Automotive
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-5.png)")
        .inner
          p Medtech 
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-6.png)")
        .inner
          p Professional Services
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-7.png)")
        .inner
          p Education
      li.service-item.thumb(style="--thumb-bg: url(../assets/images/industries-8.png)")
        .inner
          p Hospitality