:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --light-color: #{$light-color};
  --dark-color: #{$dark-color};
  --blue-color: #{$blue-color};

  --blue-rgb: #{hexToRGB($blue-color)};

  --header-top: 4rem;
  --header-height: 10rem;
  --header-nav-bottom: 40px;
}

// Fonts
@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jarkata';
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 9px;
  scroll-behavior: smooth;
  @include breakpoint($breakpoint-sm) {
    font-size: 8px;
  }
}

body {
  font-family: 'Jarkata';
  line-height: 1.3;
  font-size: 2rem;
  color: var(--black-color);
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.1;

  @include breakpoint($breakpoint-xs) {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 4.6rem;
  font-weight: 800;
  line-height: 1.1;

  @include breakpoint($breakpoint-xs) {
    font-size: 3.4rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 3rem;

  @include breakpoint($breakpoint-xs) {
    font-size: 2.8rem;
  }
}

strong {
  font-weight: 700;
}

button {
  border: none;
  color: var(--white-color);
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;

  @include breakpoint($breakpoint-sm) {
    padding: 0 3rem;
  }
}

.cta {
  display: block;
  border: 0;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 800;
  font-size: 2rem;
  padding: 24px 24px;
  border-radius: 1rem;
  width: fit-content;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--dark-color);
  }
}

// Utilities
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}
