section.keys-of-features
  .container 
    ul.feature-keys
      li.item 
        img(src="./assets/images/key-design.png", alt="")
        span Design
      li.item 
        img(src="./assets/images/key-construction.png", alt="")
        span Construction
      li.item 
        img(src="./assets/images/key-assembly.png", alt="")
        span Assembly
      li.item 
        img(src="./assets/images/key-delivery.png", alt="")
        span Delivery