section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-1.png", alt="Crates")
            h3 Crates
            p Our experts ensure the safety of your equipment during shipping by crafting high-quality, custom crates, pallets, and boxes
        .col 
          .content
            ul 
              li Crafted from sustainably sourced recycled wood
              li Sturdy construction with 3/4 inch thick wood
              li Heavy-duty protection for valuable items
              li Specifically designed for international shipping
              li ISMP 15 stamp certified
              li Eco-friendly wooden crates tailored to meet shipping demands
            .actions
                button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Detail about soft vs hardwood
              li Detail about generic and custom sizes
              li Detail about weight capacity
              li Detail about pallet wrapping
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-2.png", alt="Pallets")
            h3 Pallets
            p Our experts ensure the safety of your equipment during shipping by crafting high-quality, one-time-use custom crates, pallets, and boxes

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-3.png", alt="Industrial boxes")
            h3 Industrial Boxes
            p Our experts ensure the safety of your equipment during shipping by crafting high-quality, one-time-use custom crates, pallets, and boxes
        .col 
          .content
            ul 
              li Detail about cardboard used and its strength
              li Detail about custom laser cut foam inserts for protecting
              li Special strapping? Packaged ready for shipping?
              li Phasellus sit amet orci posuere, vulputate nulla ac, laoreet massa.
            .actions
              button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Detail about soft vs hardwood
              li Detail about generic and custom sizes
              li Detail about weight capacity
              li Detail about pallet wrapping
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/commercial-4.png", alt="Custom foam inserts")
            h3 Custom Foam Inserts
            p Our experts ensure the safety of your equipment during shipping by crafting high-quality, one-time-use custom crates, pallets, and boxes
