section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-1.png", alt="Assembled Retail Boxes")
            h3 Assembled Retail Boxes
            p Customized for retail excellence, our assembled retail boxes are thoughtfully designed to provide not only robust protection but also an appealing presentation for your products. 
        .col 
          .content
            ul 
              li Various colours and sizes available.
              li Custom printing option on exterior and interior of the box. 
              li Maximize packing efficiency with per-assembled boxes.
              li Food-grade boxes available 
            .actions
                button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Perfect for showcasing your products with a stylish and eye-catching presentation.
              li CNC cut to any shape or design
              li Option to add clear window
              li Available in various colours
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-2.png", alt="Specialty Laser Cut")
            h3 Specialty CNC Cut
            p Perfect for showcasing your products, our customizable specialty CNC cut boxes offer a unique and stylish presentation. Elevate your product display with our meticulously crafted designs.

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-3.png", alt="Various Paper Weights")
            h3 Heavy-Duty Corrugated Boxes
            p Our heavy-duty boxes are the go-to solution for shipping heavier or more fragile items, as well as for moving and storing valuables.
        .col 
          .content
            ul 
              li Ideal for heavier items, our heavy-duty boxes provide sturdy support during shipping.
              li Double wall lining for extra strength.
              li Available in a variety of box types and colours.
              li ECT44 and ECT48 rated.
            .actions
              button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li White, craft & various colours available. 
              li Custom printing available on interior and exterior.
              li Various boy types and sizes.
              li Ideal for food & beverage business that need to box as they go. 
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-4.png", alt="Flat & Foldable ")
            h3 Flat & Foldable 
            p Storage-saving flat boxes ideal for regular retail use. Our flat & foldable boxes are entirely customizable and ready for action!
