section.two-side-content 
  .container 
    .content-wrapper 
      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-1.png", alt="Assembled Retail Boxes")
            h3 Assembled Retail Boxes
            p Subheading about this feature in our retail boxes Fusce a enim ac ex rhoncus facilisis enim ac ex rhoncus facilisis. 
        .col 
          .content
            ul 
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Integer elementum nunc ac rutrum faucibus.
              li Fusce a enim ac ex rhoncus facilisis.
              li Phasellus sit amet orci posuere, vulputate nulla ac, laoreet massa.
            .actions
                button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Integer elementum nunc ac rutrum faucibus.
              li Fusce a enim ac ex rhoncus facilisis.
              li Phasellus sit amet orci posuere, vulputate nulla ac, laoreet massa.
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-2.png", alt="Specialty Laser Cut")
            h3 Specialty Laser Cut
            p Subheading about this feature in our retail boxes Fusce a enim ac ex rhoncus facilisis enim ac ex rhoncus facilisis. 

      .row
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-3.png", alt="Various Paper Weights")
            h3 Various Paper Weights
            p Subheading about this feature in our retail boxes Fusce a enim ac ex rhoncus facilisis enim ac ex rhoncus facilisis. 
        .col 
          .content
            ul 
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Integer elementum nunc ac rutrum faucibus.
              li Fusce a enim ac ex rhoncus facilisis.
              li Phasellus sit amet orci posuere, vulputate nulla ac, laoreet massa.
            .actions
              button.action-btn Get a Quote!

      .row
        .col 
          .content
            ul 
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              li Integer elementum nunc ac rutrum faucibus.
              li Fusce a enim ac ex rhoncus facilisis.
              li Phasellus sit amet orci posuere, vulputate nulla ac, laoreet massa.
            .actions
              button.action-btn Get a Quote!
        .col
          .content
            .thumb 
              img(src="./assets/images/retail-4.png", alt="Flat & Foldable ")
            h3 Flat & Foldable 
            p Subheading about this feature in our retail boxes Fusce a enim ac ex rhoncus facilisis enim ac ex rhoncus facilisis. 
