extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "about-us"

block content
  include ./pages/about-us/_hero-section.jade
  include ./pages/about-us/_our-history.jade
  include ./pages/about-us/_services-glance-section.jade
  include ./pages/about-us/_choosing-packaging.jade

  include ./pages/common/_contact-form.jade
  +contact-form(
    'Get custom packaging solutions today!', 
    "Share some details of your project, and we'll package up the perfect solution for you. Expect a response from a real human within 24 hours."
  )

  include ./pages/common/_QnA.jade
