extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "commercial"

block content
  include ./pages/commercial/_hero-section.jade
  include ./pages/commercial/_feature-keys.jade
  include ./pages/commercial/_two-side-content.jade
  include ./pages/common/_message-us-form.jade
