doctype html

html(lang="en")
  head
    title Packaging too
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/styles.css")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js", integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==", crossorigin="anonymous", referrerpolicy="no-referrer")

  body.home-page
    include ./pages/_header.jade

    main#main
      include ./pages/home/_hero-section.jade
      include ./pages/home/_packaging-service-section.jade

      section.machine-photo 
        .container 
          .photo-wrapper 
            img(src="./assets/images/machine-photo.png", alt="")

      include ./pages/home/_services-glance-section.jade

      section.background-section
        img(src="./assets/images/home-bg-section.png", alt="")

      include ./pages/home/_services-points.jade

      section.view-catalogue
        .container 
          h2.title Shop Our Wholesale Packaging Supplies
          button.cta View Our Catalouge

      include ./pages/home/_feedback-slider.jade
      include ./pages/common/_contact-form.jade
      include ./pages/common/_QnA.jade

      include ./pages/_footer.jade

    script(src="./js/anime.min.js")
    script(src="./js/app.js")
              