extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "home-page"

block content
  include ./pages/home/_hero-section.jade
  include ./pages/home/_packaging-service-section.jade

  section.machine-photo 
    .container 
      .photo-wrapper 
        img(src="./assets/images/machine-photo.png", alt="")

  include ./pages/home/_services-glance-section.jade

  section.background-section
    img(src="./assets/images/home-bg-section.png", alt="")

  include ./pages/home/_services-points.jade

  section.view-catalogue
    .container 
      h2.title Shop Our Wholesale Packaging Supplies
      a.cta.self-center(href="./supplies.html#supplies-catalouge") View Our Catalouge

  include ./pages/home/_feedback-slider.jade

  include ./pages/common/_contact-form.jade
  +contact-form(
    'Friendly Headline About Getting A Quote Now!', 
    "Share some details of your project, and we'll package up the perfect solution for you. Expect a response from a real human within 24 hours."
  )

  include ./pages/common/_QnA.jade

