extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "retail"

block content
  include ./pages/retail/_hero-section.jade
  include ./pages/retail/_feature-keys.jade
  include ./pages/retail/_two-side-content.jade

  .sections-wrapper
    section.machine-photo 
      .container 
        .photo-wrapper 
          img(src="./assets/images/retail-box.png", alt="")
    
    include ./pages/common/_message-us-form.jade
