extends ./pages/common/_layout.jade

block variables
  - var bodyClass = "commercial"

block content
  include ./pages/supplies/_hero-section.jade
  include ./pages/supplies/_two-side-content.jade
  include ./pages/supplies/_stock-box-list.jade
  include ./pages/supplies/_shelf-bin-binders.jade
  include ./pages/common/_message-us-form.jade